<!--Relatos-->
<h3 id="relatos" class="font-medium leading-tight text-3xl p-6">
    Relatos
    <small class="text-gray-500">historias escuchadas por el camino</small>
  </h3>
  <section class="text-center md:text-left shadow-lg rounded-md" >
    <div class="flex justify-center">
      <div class="max-w-full">
        <div class="block p-6 rounded-lg shadow-lg bg-white m-4">
          <div class="md:flex md:flex-row">
            <div
              class="md:w-96 w-36 flex justify-center items-center mb-6 lg:mb-0 mx-auto md:mx-0"
            >
              <img
                src="./assets/images/2015/img7.jpg"
                class="rounded-full shadow-md"
                alt="avatar"
              />
            </div>
            <div class="md:ml-6">
              <p class="text-gray-500 font-light mb-6">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
                molestiae numquam quas, voluptates omnis nulla ea odio quia similique corrupti
                magnam.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
                molestiae numquam quas, voluptates omnis nulla ea odio quia similique corrupti
                magnam.
              </p>
              <p class="font-semibold text-xl mb-2 text-gray-800">Anna</p>
              <p class="font-semibold text-gray-500 mb-0">Mochilera</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="justify-center grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-5">
      <div class="max-w-3xl">
        <div class="block p-6 rounded-lg shadow-lg bg-white m-4">
          <div class="md:flex md:flex-row">
            <div
              class="lg:w-96 w-36 flex justify-center items-center mb-6 lg:mb-0 mx-auto md:mx-0"
            >
              <img
                src="./assets/images/2017/img17.jpg"
                class="rounded-full shadow-md"
                alt="avatar"
              />
            </div>
            <div class="md:ml-6">
              <p class="text-gray-500 font-light mb-6">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
                molestiae numquam quas, voluptates omnis nulla ea odio quia similique corrupti
                magnam.
              </p>
              <p class="font-semibold text-xl mb-2 text-gray-800">Richard</p>
              <p class="font-semibold text-gray-500 mb-0">Viajero intrépido</p>
            </div>
          </div>
        </div>
      </div>
      <div class="max-w-3xl">
        <div class="block p-6 rounded-lg shadow-lg bg-white m-4">
          <div class="md:flex md:flex-row">
            <div
              class="lg:w-96 w-36 flex justify-center items-center mb-6 lg:mb-0 mx-auto md:mx-0"
            >
              <img
                src="./assets/images/2016/img17.jpg"
                class="rounded-full shadow-md"
                alt="avatar"
              />
            </div>
            <div class="md:ml-6">
              <p class="text-gray-500 font-light mb-6">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
                molestiae numquam quas, voluptates omnis nulla ea odio quia similique corrupti
                magnam.
              </p>
              <p class="font-semibold text-xl mb-2 text-gray-800">Sandra</p>
              <p class="font-semibold text-gray-500 mb-0">Guardaparque</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>